backend:
  name: github
  repo: alwus/iepmafia-content

media_folder: "public/uploads"      # Where images are stored
public_folder: "/uploads"           # Public path for images

collections:
  - name: "games"
    label: "Games"
    folder: "content/games"
    create: true
    fields:
      - { name: "date", label: "Date", widget: "string" }
      - { name: "time", label: "Time", widget: "string" }
      - { name: "sport", label: "Sport", widget: "string", default: "Soccer" }
      - { name: "team1", label: "Team 1", widget: "string" }
      - { name: "team2", label: "Team 2", widget: "string" }
      - { name: "score1", label: "Score 1", widget: "number", required: false}
      - { name: "score2", label: "Score 2", widget: "number", required: false}
      - { name: "final", label: "Final", widget: "boolean", default: false}
